# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

NODE_ENV="development"
DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"
TZ="Asia/Bangkok"
NOTIFICATION="gotify"
GOTIFY_TITLE="DressSense Error🚨"
GOTIFY_URL="https://notify.goatify.dev/message"
GOTIFY_TOKEN="token"
TBS_API_KEY="api_key"
TBS_API_SECRET="api_secret"
MQTT_BROKER="mqtt://localhost:1883"
MQTT_DEFAULT_TOPIC="dresssense"
JWT_ACCESS_SECRET="randomsecret"
JWT_REFRESH_SECRET="randomsecret"